{% extends "base.html" %}

{% block main_space %}
    {% if object.error_message %}
        <h2>Error</h2>
        <p>{{ object.error_message }}</p>
    {% else %}
        {% if request.resolver_match.kwargs.model == "Player" %}
            {% include "detail/player_detail_block.html" %}
        {% elif request.resolver_match.kwargs.model == "Tournament" %}
            {% include "detail/tournament_detail_block.html" %}
        {% elif request.resolver_match.kwargs.model == "Round" %}
            {% include "detail/round_detail_block.html" %}
        {% elif request.resolver_match.kwargs.model == "Match" %}
            {% include "detail/match_detail_block.html" %}
        {% endif %}
    {% endif %}
{% endblock main_space %}
