<tr>
    <td class="l">Name</td>
    <td class="r">{{ round.name }}</td>
</tr>
<tr>
    <td class="l">Attachment</td>
    <td class="r">
        {% if round.attachment %}
            <a href="{{ round.attachment.url }}">{{ round.attachment.name }}</a>
        {% else %}
            No attachment available
        {% endif %}
    </td>
</tr>
<tr>
    <td class="l">Tournament</td>
    <td class="r"><a href="{% url 'tournament_detail' round.tournament.pk %}">{{ round.tournament.name }}</a></td>
</tr>
