{% extends "base.html" %}

{% block main_space %}
    {% if object.error_message %}
        <h2>Error</h2>
        <p>{{ object.error_message }}</p>
    {% else %}
        <h1>Tournament Detail</h1>
        <table>
            <thead>
                <tr>
                    <th class="l">Field</th>
                    <th class="r">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="l">Name</td>
                    <td class="r">{{ tournament.name }}</td>
                </tr>
                <tr>
                    <td class="l">Start Date</td>
                    <td class="r">{{ tournament.start_date }}</td>
                </tr>
                <tr>
                    <td class="l">End Date</td>
                    <td class="r">{{ tournament.end_date }}</td>
                </tr>
                <tr>
                    <td class="l">Attachment</td>
                    <td class="r">
                        {% if tournament.attachment %}
                            <a href="{{ tournament.attachment.url }}">{{ tournament.attachment.name }}</a>
                        {% else %}
                            No attachment available
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="l">Organizers</td>
                    <td class="r">
                        <ul>
                            {% for organizer in organizers %}
                                <li>{{ organizer.organizer.username }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="l">Players</td>
                    <td class="r">
                        <ul>
                            {% for player in players %}
                                <li>{{ player.player.username }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock main_space %}
nested-table