<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Round</th>
            <th>Referee</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        {% for match in object_list %}
        <tr>
            <td>{{ match.name }}</td>
            <td>{{ match.round.name }}</a></td>
            <td>{{ match.referee.username }}</td>
            <td>
                <ul>
                    {% for player in match.players.all %}
                    <li>{{ player.username }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
