body {
  height: 98vh;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 1fr;
}

.sidebar {
  background-color: #008000;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.navigationbar {
  background-color: #4DBD1C;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.mainspace {
  background-color: #E4D28E;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}